<% provide(:title, "Index") %>
<h1>New Ticket</h1>
<hr/>


<%= bootstrap_form_for :ticket, url: tickets_path, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-6" do  |f| %>
  <%= f.static_control label: "Ticket #:", control_col: "col-sm-4" do %>
    12345
  <% end %>
  <%= f.text_field :reqname, label: "Requestor Name:" %>
  <%= f.email_field :reqemail, label: "Requestor E-Mail:" %>
  <%= f.select :department, Ticket::DEPARTMENTS, { label: "Choose Department:" } %>
  <%= f.text_field :foruser, label: "For which User?", help: "Who's having the issue?" %>
  <%= f.text_area :issuedesc, label: "Describe the Issue:", help: "Please be as detailed as possible. Include error messages, if at all possible.", rows: 5 %>
  <%= f.form_group do %>
    <%= f.submit "Submit Ticket" %>
  <% end %>
<% end %>
