<!DOCTYPE html>
<html>
  <head>
    <title>TicketApp</title>
    <%= render 'layouts/rails_meta' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
